<div class="bs-docs-section">
  <br />
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#information">Yazılım Bilgileri</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active show" id="information">
            <div class="col-lg-6">
              <div class="my-3 p-3 bg-white rounded shadow-sm">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <div class="spinner-border text-primary" role="status" [hidden]="!FormSpinnerSoftware">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <form #FormCustomerDetail="ngForm" (ngSubmit)="saveSoftware()">
                  <fieldset>
                    <legend>Yazılım Bilgileri</legend>
                    <div class="form-group row">
                      <label for="" class="col-sm-6 col-form-label">Yazılım Adı:</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" [(ngModel)]="software.softwareName"
                          value="{{software.softwareName}}" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="" class="col-sm-6 col-form-label">Güncel Versiyon:</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" [(ngModel)]="software.softwareLastVersion"
                          value="{{software.softwareLastVersion}}" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label for="" class="col-form-label">Yazılım Aktif?</label>&nbsp;
                        <input type="checkbox" class="form-control-input" [(ngModel)]="software.softwareIsActive"
                          value="" checked="{{software.softwareIsActive}}" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="deleteSoftware()">Sil</button>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>