<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Müşteri Listesi</h6>
    <form class="form-inline my-2 my-lg-0" #FormCustomerSearch>
      <input class="form-control mr-sm-2" [(ngModel)]="FormCustomerSearch.filterText" type="search" placeholder="Ara"
        aria-label="Search" [ngModelOptions]="{standalone: true}">
      <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/customer', 0]">Yeni Ekle</button>
    </form>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">

    </div>


    <div *ngFor="let customer of customers | customerFilter:FormCustomerSearch.filterText"
      class="media text-muted pt-3">
      <svg class=" bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
        <title>{{ customer.customerIsActive == false ? 'Pasif' : 'Aktif' }}</title>

        <text x="50%" y="50%" fill="#007bff" dy=".3em">{{ customer.customerIsActive == false ? 'P' : 'A ' }}</text>
      </svg>
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">{{customer.customerName}}</strong>
          <div>
            <a [routerLink]="['/customer-detail', customer.customerId]">Göster</a>&nbsp;
            <a [routerLink]="['/customer', customer.customerId]">Düzenle</a>&nbsp;
          </div>
        </div>
        <span class="d-block"> E-Posta: {{customer.customerEMail}}, Telefon:
          {{customer.customerPhone}}, Durum: {{ customer.customerIsActive == false ? 'Pasif' : 'Aktif' }}</span>
      </div>
    </div>
  </div>
</main>