<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container"><a class="navbar-brand" [routerLink]="['/home']"
      routerLinkActive="router-link-active">AS_Licence</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/customer-list']" routerLinkActive="router-link-active">Müşteri Listesi</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/software-list']" routerLinkActive="router-link-active">Yazılım Listesi</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" dropdown class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

      <a class="dropdown-toggle text-light" dropdownToggle>
        Hoşgeldiniz {{authService.getUserName() | titlecase}}
      </a>


      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/profile']"><i class="fa fa-user"></i>Profili Düzenle</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Çıkış yap</a>
      </div>
    </div>


    <form #loginForm="ngForm" *ngIf="!loggedIn()" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="Kullanıcı adı"
        [(ngModel)]="loginModel.username" required #username="ngModel">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Şifre"
        [(ngModel)]="loginModel.password" required #password="ngModel">
      <button class="btn btn-success my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid">Giriş Yap</button>
    </form>
  </div>


</nav>