<div class="bs-docs-section">
  <br />
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#information">Profili Düzenle</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active show" id="information">
            <div class="col-lg-6">
              <div class="my-3 p-3 bg-white rounded shadow-sm">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <div class="spinner-border text-primary" role="status" [hidden]="!FormSpinnerProfile">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <form (ngSubmit)="changeUserPassword()">
                  <fieldset>
                    <legend>Şifre Değiştir</legend>
                    <div class="form-group row">
                      <label for="" class="col-sm-6 col-form-label">Kullanıcı Adınız:</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" value="{{authService.getUserName()}}" readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="" class="col-sm-6 col-form-label">Şimdiki Şifreniz:</label>
                      <div class="col-sm-12">
                        <input type="password" name="password" class="form-control" [(ngModel)]="user.currentPassword"
                          value="{{user.currentPassword}}" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="" class="col-sm-6 col-form-label">Yeni Şifreniz:</label>
                      <div class="col-sm-12">
                        <input type="password" class="form-control" [(ngModel)]="user.newPassword"
                          value="{{user.newPassword}}" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="" class="col-sm-6 col-form-label">Yeni Şifreniz (Tekrar):</label>
                      <div class="col-sm-12">
                        <input type="password" class="form-control" [(ngModel)]="user.againNewPassword"
                          value="{{user.againNewPassword}}" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>