<div class="bs-docs-section">
  <br />
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#information">Müşteri Bilgileri</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#subscription-list" id="toggle-subscription-list">Ürün
              Bilgileri</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#subscription-detail" id="toggle-subscription-detail">Lisans
              Bilgileri</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active show" id="information">
            <div class="col-lg-6">
              <div class="my-3 p-3 bg-white rounded shadow-sm">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <div class="spinner-border text-primary" role="status" [hidden]="!FormSpinnerCustomer">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <form #FormCustomerDetail="ngForm" (ngSubmit)="saveCustomer()">
                  <fieldset>
                    <legend>Müşteri Bilgileri</legend>
                    <div class="form-group row">
                      <label for="" class="col-sm-6 col-form-label">Adı - Ünvanı:</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" [(ngModel)]="customer.customerName"
                          value="{{customer.customerName}}" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="" class="col-sm-6 col-form-label">E-Posta Adresi:</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" [(ngModel)]="customer.customerEMail"
                          value="{{customer.customerEMail}}" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="" class="col-sm-6 col-form-label">Telefon Numarası:</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" [(ngModel)]="customer.customerPhone"
                          value="{{customer.customerPhone}}" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label for="" class="col-form-label">Kullanıcı Aktif?</label>&nbsp;
                        <input type="checkbox" class="form-control-input" [(ngModel)]="customer.customerIsActive"
                          value="" checked="{{customer.customerIsActive}}" [ngModelOptions]="{standalone: true}">
                      </div>


                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>&nbsp;
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="subscription-list">
            <div class="col-lg-12">
              <div class="my-3 p-3 bg-white rounded shadow-sm">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <div class="spinner-border text-primary" role="status" [hidden]="!FormSpinnerCustomer">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <form>
                  <fieldset>
                    <legend>Ürün Bilgileri <button class="btn btn-outline-success my-2 my-sm-0"
                        (click)="getSubscription(0)">Yeni Ekle</button></legend>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Yazılım Adı</th>
                          <th scope="col">Lisans Aktif/Pasif</th>
                          <th scope="col">Lisans Başlangıç Tarihi</th>
                          <th scope="col">Lisans Bitiş Tarihi</th>
                          <th scope="col">Lisans Bilgisayar Sayısı</th>
                          <th scope="col">Kayıtlı Bilgisayar Sayısı</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-danger" *ngIf="subscriptionSummaries.length === 0">
                          <td colspan="7"><a (click)="getSubscription(0)">Müşteriye ait hiçbir lisans eklenmemiş. Yeni
                              bir lisans eklemek için tıklayınız</a>
                          </td>
                        </tr>
                        <tr class="table" *ngFor="let subscriptionSummary of subscriptionSummaries">
                          <td>{{subscriptionSummary.softwareName}}</td>
                          <td>{{subscriptionSummary.subscriptionIsActive ? 'Aktif' : 'Pasif'}}</td>
                          <td>{{subscriptionSummary.subScriptionStartDate | date:'dd-MM-yyyy'}}</td>
                          <td>{{subscriptionSummary.subScriptionEndDate | date:'dd-MM-yyyy'}}</td>
                          <td>{{subscriptionSummary.subScriptionLicenceCount}}</td>
                          <td>{{subscriptionSummary.subScriptionCurrentLicenceCount}}</td>
                          <td><button type="button" class="btn btn-info"
                              (click)="getSubscription(subscriptionSummary.subscriptionId)">Düzelt</button>&nbsp;
                            <button type="button" class="btn btn-secondary"
                              (click)="deleteSubscription(subscriptionSummary.subscriptionId)">Sil</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="subscription-detail">
            <div class="col-lg-6">
              <div class="my-3 p-3 bg-white rounded shadow-sm">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <div class="spinner-border text-primary" role="status" [hidden]="!FormSpinnerSubscriptionDetail">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <form #FormSubscriptionDetail="ngForm" (ngSubmit)="saveSubscription()">
                  <fieldset>
                    <legend>Lisans Bilgileri</legend>
                    <div class="form-group row">
                      <label for="" class="col-sm-6 col-form-label">Adı - Ünvanı:</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" [(ngModel)]="customer.customerName"
                          value="{{customer.customerName}}" [ngModelOptions]="{standalone: true}" readonly=true>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="" class="col-sm-6 col-form-label">Yazılım Bilgisi:</label>
                      <div class="col-sm-12">
                        <select class="custom-select" [(ngModel)]="subscription.softwareId"
                          [ngModelOptions]="{standalone: true}">
                          <option value="0">Yazılım bilgisi seçiniz.</option>
                          <option *ngFor="let software of softwares" [value]="software.softwareId"
                            [selected]="subscription.softwareId == software.softwareId">
                            {{software.softwareName}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="" class="col-sm-6 col-form-label">Lisans Başlangıç Tarihi:</label>
                      <div class="col-sm-12">
                        <input [(ngModel)]="subscription.subScriptionStartDate" class="form-control" type="date"
                          [ngModelOptions]="{standalone: true}" value="{{subscription.subScriptionStartDate}}" />
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="" class="col-sm-6 col-form-label">Lisans Bitiş Tarihi:</label>
                      <div class="col-sm-12">
                        <input [(ngModel)]="subscription.subScriptionEndDate" class="form-control" type="date"
                          [ngModelOptions]="{standalone: true}" value="{{subscription.subScriptionEndDate}}" />
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="" class="col-sm-6 col-form-label">Lisans Bilgisayar Sayısı:</label>
                      <div class="col-sm-12">
                        <select class="form-control" [(ngModel)]="subscription.subScriptionLicenceCount"
                          [ngModelOptions]="{standalone: true}">
                          <option [selected]="subscription.subScriptionLicenceCount == 1">1</option>
                          <option [selected]="subscription.subScriptionLicenceCount == 2">2</option>
                          <option [selected]="subscription.subScriptionLicenceCount == 3">3</option>
                          <option [selected]="subscription.subScriptionLicenceCount == 4">4</option>
                          <option [selected]="subscription.subScriptionLicenceCount == 5">5</option>
                          <option [selected]="subscription.subScriptionLicenceCount == 6">6</option>
                          <option [selected]="subscription.subScriptionLicenceCount == 7">7</option>
                          <option [selected]="subscription.subScriptionLicenceCount == 8">8</option>
                          <option [selected]="subscription.subScriptionLicenceCount == 9">9</option>
                          <option [selected]="subscription.subScriptionLicenceCount == 10">10</option>
                          <option [selected]="subscription.subScriptionLicenceCount == 11">11</option>
                          <option [selected]="subscription.subScriptionLicenceCount == 12">12</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label for="" class="col-form-label">Lisans Aktif?</label>&nbsp;
                        <input type="checkbox" class="form-control-input"
                          [(ngModel)]="subscription.subscriptionIsActive" value=""
                          checked="{{subscription.subscriptionIsActive}}" [ngModelOptions]="{standalone: true}">
                      </div>


                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>&nbsp;
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>