<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-5">Lisanslama Sistemi</h1>
    <div *ngIf="!this.authService.loggedIn() else loggedOut">
      <p class="lead">Giriş yapmanız gerekiyor :)</p>

    </div>
    <ng-template #loggedOut>
      <p class="lead">Sistemimizde yeni müşteri ekleme süreci şu şekilde ilerler..</p>
      <p></p>
      <ol>

        <li>Müşteri Listesi sayfasından Yeni Ekle butonuna basınız ve müşterinizi kayıt ediniz.</li>
        <li>Kayıt ettiğiniz yeni müşteriye, Ürün Bilgileri sekmesinden, Yeni Ekle butonuna basınız.</li>
        <li>Açılan Lisans Bilgileri sayfasında kullanılmasını istediğiniz yazılım bilgisini ve süresini
          seçiniz.</li>

      </ol>

    </ng-template>
  </div>
</div>